#effin-graph > svg > g > path {
stroke: steelblue;
stroke-width: 2;
fill: none;
}

#effin-graph > svg > g > path.1 {
stroke: red;
stroke-width: 2;
fill: none;
}
 
#effin-graph > svg > g > line {
stroke: black;
}
 
#effin-graph > svg > g > text {
font-family: sans-serif;
font-size: 9pt;
}
