.ui-slider-horizontal 
{
	height: .8em;
}

.ui-slider 
{
	position: relative;
	text-align: left;
}

.scaleTick
{
	position: absolute;
	display: inline;
	color: #AAA;
	font-size: .8em;
	text-align:left;
}


#slider{ 
	width: 100%;
}
#slider .ui-slider-range
{
	background: #66d9d9;
	cursor: pointer;
}

#slider .ui-slider-handle
{
	width: .4em;
	margin-left: -.2em;
	border-color: #66d9d9;
	box-shadow: 0 0 2px #66d9d9 inset;
}

/*66d9d9*/
